header {
  /* border: 2px solid white; */
  font-size: 20px;
  /* border-radius: 5px; */
  /* width: 1200px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 95%;
  z-index: 1000;
}

.navbar-right {
  /* margin: 10px; */
}

.navbar-button {
  margin: 10px;
  padding: 10px;
  /* border: 2px solid rgb(255, 255, 255); */
  transition: 0.2s all;
  border-radius: 5px;
  
}

.navbar-button:active {
  transform: scale(1.2)
}

/* .main-container {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
} */

